@model WebCatalog.Domain.Entity.Catalog

@{
    ViewData["Title"] = "Добавление продукта";
}


<form method="post">
    Id: <input type="text" name="id" required />
    <br/>
    Name: <input type="text" name="name" />
    <br/>
    Description: <input type="text" name="description" />
    <br/>
    Price: <input type="text" name="price" />
    <br/>
    <input type="submit" name="submit" value="Создать" />
</form>

<div>
    <a asp-area="" asp-controller="Catalog" asp-action="SendMessage">Отправить сообщение</a>
</div>
