@model WebCatalog.DAL.Repository.Interfaces.ICatalogRepository

@{
    ViewData["Title"] = "Удаление продукта";
}


<form method="post">
    Id: <input type="text" name="id" required />
    <br/>
    <input type="submit" name="submit" value="Удалить"/>
</form>
